{% extends "customer/base.html" %}
{% load static %}
{% block title %}Zahoor Orchards - SIGN UP{% endblock %}
{% block content %}


<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">SIGN UP</h1>
          <span class="color-text-a"><a href="{{sign_in_url}}">OR SIGN IN?</a></span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{index_url}}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Sign Up
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<!--/ Contact Star /-->
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-t6">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <form class="form-a form-sign-in contactForm" action="" method="post" role="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="email" name="email" class="form-control form-control-lg form-control-a"
                      placeholder="Email" data-rule="email" data-msg="Incorrect Email">
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input name="password" type="password" class="form-control form-control-lg form-control-a"
                      placeholder="Password" data-rule="password" data-msg="Incorrect Password">
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input name="password" type="password" class="form-control form-control-lg form-control-a"
                      placeholder="Confirm Password" data-rule="password" data-msg="Incorrect Password">
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-a">Sign Up</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Contact End /-->
{% endblock %}